package stores

import (
	"context"

	"{{ .ModelIPath }}"
)
{{ $modpkg := .ModelPkg }}{{ range .Models }}{{ range .StoreHooks }}{{ if .IsDB }}
func {{.FunName}}(ctx context.Context, db ormDB, obj *{{$modpkg}}.{{.ObjName}}) error {
	// TODO:
	return nil
}{{ end }}{{ end }}{{ end }}
